.tabloid {
  font-family: Lato;
  margin: 20px;
  font-size: 24px;
  span {
    color: grey;
    font-size: 18px;
  }
}

button {
  width: 60px;
  margin: 10px 20px;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}


